name: genai-graphrag
channels:
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - pip
  - pip:
      - fastapi
      - uvicorn
